body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    min-width: 350px;
    max-width: 600px;
    width: 100%;
}

h1 {
    background-color: #590202;
    color: white;
}


.cabecalho {
    background-color: #f9b673;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: -23px;
    margin-left: 0px;
    margin-right: -20px;
}

.cabecalho a {
    color: #590202;
}

#descricao {
    display: flex;
    justify-content: space-between;
}

#victor {
    width: 20px;
    float: left;
    position: fixed;
    width: 20%;
    height: 20px;
}

#ladoDireito {
    float: right;
    position: relative;
    margin: 5px;
    width: 60%;
}

#listaHabilidades {
    display: flex;
    justify-content: space-around;
}


h2 {
    font-size: 17px;
}

p {
font-size: 17px;
}

ul {
    padding: 10px 0px 0px 20px;
    font-size: 17px;
}

li {
    font-size:  17px;
}

.rodape {
    background-color: #590202;
    color:#f9b673;
}

a {
    text-decoration: none;
    color: #f9b673;
}

a:hover {
    color: white;
}

a:active {
    color: purple;
}