body {
    font-family: 'Times New Roman', Times, serif;
    
}

h1 {
    background-color: rgb(170, 222, 170);
}

h2 {
    font-size: 17px;
}

p {
font-size: 17px;
}

ul {
    padding: 10px 0px 0px 20px;
    font-size: 17px;
}

li {
    font-size:  17px;
}